  <div class="gradient">
    <div style="background:#000000" ></div>
    <div style="background:#1C0000" ></div>
    <div style="background:#380000" ></div>
    <div style="background:#550000" ></div>
    <div style="background:#710000" ></div>
    <div style="background:#8D0000" ></div>
    <div style="background:#AA0000" ></div>
    <div style="background:#C60000" ></div>
    <div style="background:#E20000" ></div>
    <div style="background:#FF0000" ></div>
    <div style="background:#FF3800" ></div>
    <div style="background:#FF5500" ></div>
    <div style="background:#FF7100" ></div>
    <div style="background:#FF8D00" ></div>
    <div style="background:#FFAA00" ></div>
    <div style="background:#FFC600" ></div>
    <div style="background:#FFE200" ></div>
    <div style="background:#FFFF00" ></div>
  </div>
    <!-- <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}"> -->
  <div class="header-title header-title-post">
		<div class="header-title-wrap header-title-index">
		  <h1><a href="/" >{{ site.title }}</a></h1>
		  <h2></h2>
		</div><!-- /.header-title-wrap -->
  </div><!-- /.entry-image -->