
::selection {
	background: #1FDA9A;
	color: #fff;
}
.container {
	width: 800px;
	margin: 100px auto;
	background: radial-gradient(circle farthest-corner at 400px 250px , #64BBE0 0%, #28ABE3, #28ABE3 95%);
}
.container .heading {
	text-align: center;
	color: #fff;
	font-weight: 700;
}
.tooltip-wrapper {
	padding: 160px 0;
	text-align: center;
}
.tooltip-wrapper li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}
.tooltip-wrapper li a {
	color: #fff;
	text-decoration: none;
}


/**
 * Tooltips
 */

.tooltip {
	position: relative;
}
.tooltip:after {
	position: absolute;
	padding: 8px;
	border: 3px solid #fff;
	border-radius: 8px;
	background-color: #1FDA9A;
	font-size: .9em;
	font-weight: bold;
	color: #fff;
	content: attr(data-tooltip);
	min-width: 80px;
	// width: -moz-max-content;
	// width: -webkit-max-content;
	opacity: 0;
	transition: all .2s ease-in-out .25s;
	visibility: hidden;
	z-index: 2;
}
.tooltip:hover:after {
	opacity: 1;
	visibility: visible;
}

/*Tooltip starting positions*/

.tooltip-top:after {
	bottom: 150%;
	left: 0;
}
.tooltip-bottom:after {
	top: 155%;
	left: 0;
}
.tooltip-left:after {
	right: 130%;
	min-width: 100px;
}
.tooltip-right:after {
	left: 130%;
	min-width: 100px;
}

/*Tooltip final positions*/

.tooltip-top:hover:after {
	bottom: 120%;
}
.tooltip-bottom:hover:after {
	top: 125%;
}
.tooltip-left:hover:after {
	right: 110%;
}
.tooltip-right:hover:after {
	left: 110%;
}

/**
 * Triangles
 */

.tooltip-top:before,
.tooltip-bottom:before,
.tooltip-left:before,
.tooltip-right:before {
	content: "";
	display: block;
	position: absolute;
	border-width: 7px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	opacity: 0;
	transition: all .2s ease-in-out .25s;
	visibility: hidden;
}
.tooltip-top:hover:before,
.tooltip-bottom:hover:before,
.tooltip-left:hover:before,
.tooltip-right:hover:before {
	opacity: 1;
	visibility: visible;
}

/*Triangle starter positions*/

.tooltip-top:before {
	top: -51%;
	left: 50%;
	transform: translateX(-50%);
	border-top-color: #fff;
}
.tooltip-bottom:before {
	bottom: -56%;
	left: 50%;
	transform: translateX(-50%);
	border-bottom-color: #fff;
}
.tooltip-left:before {
	left: -31%;
	top: 15%;
	border-left-color: #fff;
}
.tooltip-right:before {
	right: -31%;
	top: 15%;
	border-right-color: #fff;
}

/* Triangle final positions */

.tooltip-top:hover:before {
	top: -21%;
}
.tooltip-bottom:hover:before {
	bottom: -26%;
}
.tooltip-left:hover:before {
	left: -11%;
}
.tooltip-right:hover:before {
	right: -11%;
}




/* Section with links */

.links {
	text-align: center;
	margin-top: 40px;
}
.links .link {
	font-weight: 700;
	font-size: 1.3em;
	color: #fff;
	display: inline-block;
	margin: auto 5px;
}
.links .link:hover {
	background: #1FDA9A;
}
.links .link:active {
	background: #fff;
	color: #1FDA9A;
}