--- 
layout: compress
---
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post" >

{% include browser-upgrade.html %}

<div class="entry-header">
  {% include top.html %}
</div><!-- /.entry-header -->

<div id="main" role="main">
  <article class="hentry">
      <header class="header-title">
        <div class="header-title-wrap" >
          {% if page.link %}
            <h1 class="entry-title"><i class="fa fa-bookmark permalink"></i> <a href="{{ page.link }}">{{ page.title }}</a></h1>
          {% else %}
            <h1 class="entry-title"><a href="{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
          {% endif %}
          <h2><span class="entry-date date published"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span></h2>
          {% if site.reading_time %}
          <p class="entry-reading-time">
            <i class="fa fa-clock-o"></i>
            {% include read-time.html %}
          </p><!-- /.entry-reading-time -->
          {% endif %}
        </div><!-- /.header-title-wrap -->
      </header>
    <div class="entry-content {% if page.image.feature %}entry-content-image{% endif %}">
      {% if page.image.feature %}
        <div class="entry-image-index" style="background:url('/{{ page.image.feature }}') no-repeat scroll center center; background-size: cover;">
        </div>
      {% endif %}
      {% include series.html %}
      {{ content }}
      <footer class="entry-meta">
        <span class="entry-tags">{% for tag in page.tags %}<a href="/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="term">{{ tag }}</span></a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-585414256290e6c1"></script> 
        <div class="addthis_inline_share_toolbox"></div>
      </footer>
    </div><!-- /.entry-content -->
    {% include newsletter.html %}
    <div class="entry-content author_info" >
      <section class="article-open_author">
        <figure class="article-open_author_image">
        <div class="img" style="background-image: url(/data/photo_small.jpg)"><span class="hidden">Szymon Warda's Picture</span></div>
        </figure>
        <div class="article-open_author_bio">
          <h5 itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="authorName" >Szymon Warda</h5>
          <p>Hi, I'm Szymon Warda. I write code, design IT systems, write this blog, <a href="https://twitter.com/" >tweet</a> and <a href="https://indexoutofrange.com/speaking/" >speak at conferences</a>. If You want to know more <a href="/about" >go here</a>, or follow me:</p>
          <div class="sm_follow">
            <a href="https://twitter.com/maklipsa"><i class="fa fa-fw fa-twitter"></i></a>
            <a href="https://www.facebook.com/szymon.warda"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://linkedin.com/in/szymonwarda"><i class="fa fa-fw fa-linkedin"></i></a>
            <a href="https://IndexOutOfRange.com/feed.xml"><i class="fa fa-fw fa-rss"></i></a>
          </div>
        </div>
      </section>
    </div>
    {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
    {% if site.related_posts.size > 0 %}{% include read-more.html %}{% endif %}
  </article>
</div><!-- /#main -->
<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}
	
<script>
jQuery(function() {
  jQuery.scrollDepth();
});
</script>        
{% include addthis.html %}  
</body>
</html>
