--- 
layout: page
---

<h1><img src="/data/workshops/info.svg" class="infoIcon" >General info</h1>
<p>
    <b>Theory to practice ratio</b>: {{page.TheoryToPracticeRatio}}% practice<br/>
    <b>Duration</b>: 3 days<br/>
</p>

<h1><img src="/data/workshops/goal.svg" class="goalIcon" >Goal</h1>
{{ content }}

<h1><img src="/data/workshops/zip.svg" style="height: 45px;padding-bottom: 10px;" >Materials</h1>
<p>
    After the training all attendees get a before and after zip package with all excercises done during the workshop.
</p>

<style>
    .infoIcon{
        height: 40px;
        padding-right: 5px;
        padding-bottom: 7px;
    }
    .listIcon{
        height: 35px;
        padding-bottom: 8px;
    }
    .goalIcon{
        height: 45px;
        padding-bottom: 7px;
        padding-right: 3px;
    }
</style>